*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content-container{
    max-width: 1366px;
    min-height: 768px;
    padding: 46px 168px 15px 168px;
    background-image: url(../img/background\ img.png) ;
    background-size:cover;
}

.header-container{
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.logo-container{
    width: 180px;
    height: 51px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    color: white;
}
.mainlogo{
    width: 53px;
    height: 47px;
    background-image: url(../img/milan_sprites.png);
    background-position: -10px -10px;
}
.logo-container:hover .mainlogo{
    background-image: url(../img/milan_sprites.png);
    background-position: -83px -10px;
}
.logo-container:hover {
    color: #F26522;
}
.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}
.logo-text1{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}
.logo-text2{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}
.mailto-telephone{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;

}
.mailto-telephone:hover{
    color: #F26522;
}

/* MAIN */

.main-container{
    width: 100%;
    min-height: 560px;
    margin-bottom: 48px;
    display:grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    justify-content: space-between;
    row-gap: 37px;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    position:relative;
}
.image-and-card{
    position: relative;
    overflow: hidden;
    padding: 2px;
    background: linear-gradient(to bottom, rgb(211, 211, 211) , rgb(76, 76, 76));
}

.card-image{
    width: 100%;
    height: 100%;
    position: relative;

}
.orange-card{
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    position:absolute;
    padding: 7px 15px 12px;
    justify-content: space-between;
    color:rgba(255, 255, 255, 1);
    bottom:-55px;
    left: 0px;
} 
.price-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.from{
    font-size: 10px;
    line-height: 10px;
}
.price{
    font-size: 20px;
}
.details{
    display: flex;
    gap: 15px;
    height: 14px;
    align-items: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 12px;
}
.details-text{
    display: flex;
    font-size: 14px;
    line-height: 14px;
    gap: 8px;
    /* margin-right: 28px; */
}
.details-text::after{
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    background-image: url(../img/>.svg);

}

.card-name{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}
.card-container:hover .card-name{
    color: #F26522;
}
.card-container:hover .orange-card{
    bottom:0;
    transition: bottom 0.6s;
}

/* FOOTER */

.footer-container{
    width: 100%;
    min-height: 21px;
    text-align: center;
}
.copyrights{
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}